.lora-font {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .plus-jakarta-sans {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  body {
    margin: 0;
  }
  
  /* #region navbar */

  .mi-barra {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #1e1e24;
    color: #ffffff;
    opacity: 0.8;
  
   
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 30px; 
  
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
  }
  .nombre {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    
  }
  
  
  .menu {
    display: flex;
    gap: 68.55px; 
    font-size: 30px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
  }

  .logo {
    width: 40px;
    height: 40px;
    position: relative;
  }
  .logo_perfil {
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .buscador {
      border-radius: 21000px;
      border-style: solid;
      border-color: white;
    }
    
    .barra {
        position: relative;
        display: inline-block;
    }
    .input-container { 
        position: relative;
        display: inline-block;
        width: 318px; 
        padding-right: 150px;

}
  
  .input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;  
    height: 20px;
    pointer-events: none; 
  }
  
  
  .input-container input {
    width: 100%;
    padding: 10px 12px;
    padding-left: 40px; 
    box-sizing: border-box;
  }

  /* #endregion */

.todo-arriba {
    display: flex;
    flex-direction: row;
    position: relative;

    top: 60px;

    * {
        display: flex;
        flex-direction: inherit;
        align-items: center;
      }

    .izq, .med, .der {
        display: flex;
        flex-direction: column;

        width: calc(1/3 * 100%); /*1/3 de la pantalla*/
        align-items: center;
        margin-top: 6vh;
        
    }
    .izq {
        .tapa {
            width: 60%;
            height: auto;
        }

        .links {
          width: 74%;
          margin-top: 3.2%;
          text-align: center;
          border: #1e1e24 solid ;
          hr {
            width: 100%;
          }
        }
    }

    .med {
      .title_auth_sinops {
        .titulo {
          font-size: 3.75rem;
          margin-bottom: 2%;
        }
        .autor {
          font-size: 2.8rem;
        }
        .sinopsis {
          margin-top: 1rem;
          font-size: 1.75rem;
          text-align: center;

          width: 80%;

        }
      }

      .specs {
        display: flex;
        flex-direction: row;
        margin-top: 42px;

        width: 75%;
        .renglon {
          width: 100%;

          display: flex;
          flex-direction: column;
          .spec {
            display: flex;
            flex-direction: column;
            width: 100%;
            
            .spec-name {
              font-size: 1.875rem
            }
            
            .spec-info {
              font-size: 1.5625rem;
              
            }
          }

          .spec-abajo {
            padding-top: 10px;
          }
          
          .divider-middle {
            border-right: 1px solid #000000;
          }
          
          .divider-bottom {
            border-bottom: 1px solid black;
            padding-bottom: 10px;
          }
        }
      }
    }
}