body{
    margin: 0px;
    padding: 0;
    box-sizing: 0;
    background-color: #F1EEE7;
}
  /*Ytsma dice que hasta aca es el header*/

  .arriba{
    margin-top: 60px;

    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    gap: 31vw;

    .arriba_i{
      width: 28.8vw;
      height: 100%;
      margin-left: 6.3vw;
      display: flex;
      align-items: center;
      gap: 1.8vw;

      .ima{
        width: 11.5vw;
        height: 11.5vw;
        border-radius: 50%;;
      }
      .nom_aju{
        width: 15.5vw;
        height: 6.7vw;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;

        .ajustes{
          display: flex;
          align-items: start;
          width: 10vw;
          height: 36%;
          color: #1F1A16;
          text-align: center;
          font-family: Lora;
          font-size: 28px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration: none;

        }
        .nom{
          display: flex;
          align-items: start;
          width: 100%;
          height: 53%;
          font-family: Lora;
          font-weight: 400;
          font-style: Regular;
          font-size: 32px;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
          text-decoration: none; 
          color: black; 

        }
      }
    }
    .arriba_d{
      width: 20.6vw;
      height: 5.1vw;
      display: flex;
      align-items: center;
      gap: .7vw;

      .stat{
        height: 100%;
        width: 4.375vw;

        .stat_arriba{
          width: 100%;
          height: 70%;
          border-bottom: 2px solid black;
          color: #1F1A16;
          text-align: center;
          font-family: Lora;
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          
        }
        .stat_abajo{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 30%;
          color: #1F1A16;
          text-align: center;
          font-family: Lora;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
  .medio{
    width: 100%;
    height: 33vw;
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 6.4vw;

    .medio_i{
      width: 48.5vw;
      height: 100%;
      margin-left: 6.3vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .favs{
        width: 100%;
        height: 45.8%;
        border-radius: 8px;
        background: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5vh;

        .ti{
          margin-top: 1.6vh;
          width: 14rem;
          height: 2.625rem;
          color: #1F1A16;
          text-align: center;
          font-family: Lora;
          font-size: 32px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .libs{
          width: 43.6vw;
          height: 20.5vh;
          display: flex;
          gap: 1.77vw;

          .lib{
            width: 7.3vw;
            height: 100%;
          }
        }
      }
      
      .le{
        width: 100%;
        height: 51%;
        border-radius: .4vw;
        background: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4vh;

        .t{
          display: flex;
          justify-content: center;
          margin-top: 3.7vh;
          width: 14.125rem;
          height: 2.5625rem;
          color: #1F1A16;
          text-align: center;
          font-family: Lora;
          font-size: 32px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .aba{
          width: 44.2vw;
          height: 21.5vh;
          display: flex;
          align-items: center;
          gap: 2.7vw;

          .lele{
            width: 31.6vw;
            height: 100%;
            display: flex;

            .libr{
              width: 7.3vw;
              height: 100%;
              background-color: #FAFAFA;
              box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.3);
            }
            .uno{
              z-index: 6;
            }
            .dos{
              z-index: 5;
              margin-right: -2.3vw;
            }
            .tres{
              z-index: 4;
              margin-right: -2.3vw;
            }
            .cuatro{
              z-index: 3;
              margin-right: -2.3vw;
            }
            .cinco{
              z-index: 2;
              margin-right: -2.3vw;
            }
            .seis{
              z-index: 1;
              margin-right: -2.3vw;
            }
          }
          
          .verm{
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: .4vw;
            width: 7rem;
            height: 2rem;
            margin-left: 3vw;
            background-color: #842739;
            color: #FFF;
            text-align: center;
            font-family: "Plus Jakarta Sans";
            font-size: 1.5625rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;


          }
        }
      }
    }

    .medio_d{
      width: 31.5vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .pl{
        width: 100%;
        height: 33%;
        border-radius: .4vw;
        background: #FFF;
        display: flex;
        flex-direction: column;
        gap: 1.4vh;


        .titl{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 9.375rem;
          height: 1.875rem;
          margin-top: 1.8vh;
          margin-left: 1.7vw;
          color: #1F1A16;
          text-align: center;
          font-family: Lora;
          font-size: 2rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .abaj{
          margin-left: 1.7vw;
          width: 28.4vw;
          height: 6.5vw;
          display: flex;
          align-items: center;
          gap: 2vw;

          .plpl{
            height: 100%;
            width: 20vw;
            display: flex;
            
            .book{
              width: 4.8vw;
              height: 100%;
              box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.3);
            }
            .one{
              z-index: 6;
            }
            .two{
              z-index: 5;
              margin-right: -1.5vw;
            }
            .three{
              z-index: 4;
              margin-right: -1.5vw;
            }
            .four{
              z-index: 3;
              margin-right: -1.5vw;
            }
            .five{
              z-index: 2;
              margin-right: -1.5vw;
            }
            .six{
              z-index: 1;
              margin-right: -1.5vw;
            }
          
          }
          .vermp{
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 7.6875rem;
            height: 1.75rem;
            border-radius: .4vw;
            background-color: #842739;
            color: #FFF;
            text-align: center;
            font-family: "Plus Jakarta Sans";
            font-size: 1.5625rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
          }
        }
      }
      .listas{
        width: 100%;
        height: 64%;
        border-radius: 8px;
        background: #FFF;
        display: flex;
        flex-direction: column;
        gap: 2.4vh;

        .titulo{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 1.7vh;
          margin-left: 1.5vw;
          width: 9.375rem;
          height: 1.875rem;
          color: #1F1A16;
          text-align: center;
          font-family: Lora;
          font-size: 32px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .lime{
          width: 26.8vw;
          height: 27.5vh;
          margin-left: 1.5vw;
          display: grid;
          grid-template-columns: repeat(2, max-content);
          grid-template-rows: repeat(2, max-content);
          gap: 2.7vh 3.5vw;

          .cali{
            width: 12vw;
            height: 5.6vw;;
            display: flex;
            flex-direction: column;
            gap: 0.44vh;
            
            .minilista{
              width: 100%;
              height: 8vh;
              display: flex;
              
              .librito{
                width: 2.7vw;
                height: 100%;
                box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.3);
              }
              .uno{
                z-index: 6;
              }
              .dos{
                z-index: 5;
                margin-right: -0.8vw;
              }
              .tres{
                z-index: 4;
                margin-right: -0.8vw;
              }
              .cuatro{
                z-index: 3;
                margin-right: -0.8vw;
              }
              .cinco{
                z-index: 2;
                margin-right: -0.8vw;
              }
              .seis{
                z-index: 1;
                margin-right: -0.8vw;
              }
            }
            .nombre{
              width: 100%;
              height: 3.5vh;
              color: #000;
              font-family: Lora;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }

      }
    }
  }
  .abajo{
    .titleres{
      height: 8.7vh;
      width: 100%;
      display: flex;
      align-items: center;


      
      .title_resea{
        width: 11.8125rem;
        height: 2.25rem;
        background-color: #d9d9d9;
        margin-left: 6.3vw;
      }
    }
    .todas_res{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .res{
        height: 31.5vh;
        width: 86.8vw;
        background-color: #FAFAFA;
      }
      .linea{
        margin: 0;
        width: 86.8vw;
        height: 2px;
        background-color: black;
      }
    }
    
  }