body{
    margin: 0px;
    padding: 0;
    box-sizing: 0;
}

/* fonts */
.lora-font {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.barra {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #842739;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px; /* padding de nombre de app */

  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1000;
  
  .logo {
    width: 40px;
    height: 40px;
    position: relative;
  }
  .nombre { /* estilo del "babel" */
      font-size: 2.5rem;
      font-weight: 400;
  }
  .buscador-container { /*esto es para el padding y etc*/
    position: relative;
    display: inline-block;
    width: 23%;
    height: 39px;

  @media (width<1500px) {
      padding-right: 0%;
    }
    
    .buscador {
      border-radius: 21000px;
      border-style: solid;
      border-color: white;
      height: 39px;
    }
    input { /*estilos para el placeholder e input del buscador*/
        width: 100%;
        padding: 10px 12px;
        padding-left: 40px;
        box-sizing: border-box;
    }
    .lupita {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      pointer-events: none; /* Permite hacer clic a través de la imagen hacia el input */
    }
  }

  .barralinks {
    width: 70vw;
    display: flex;
    
    .menu {
      position: relative;
      width: 40%;
      display: flex;
      flex-direction: row;
      gap: 3vw;
      font-size: 30px;
      padding-right: clamp(20px, 5%, 50px);
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        border-radius: 8px;
        background: #FFF;
        border-style: solid;
        border-color: #FFF;
        
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 8vw;
          gap: 5px;
          height: 40px;
          color: #000000;
          text-decoration: none;
          text-wrap: nowrap;
          font-size: 20px;

          img {
            height: 90%;
            aspect-ratio: 1/1;
          }
        }
      }
    }

    .botonperfil {
      position: absolute;
      right: 5vw;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30vh;
      height: 40px;
      border-radius: 8px;
      background-color:transparent;
      border-style: none;
      border-color: #FFF;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        height: 40px;
        color: white;
        text-decoration: none;
        text-wrap: nowrap;
        font-size: 20px;

        img {
          height: 90%;
          aspect-ratio: 1/1;
        }
      }
    }
  }
}
  /* YTSMA-Hasta aca es el header. */

  /*Ytsma dice que hasta aca es el header*/

  .arriba{
    margin-top: 60px;

    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    gap: 31vw;

    .arriba_i{
      width: 28.8vw;
      height: 100%;
      margin-left: 6.3vw;
      display: flex;
      align-items: center;
      gap: 1.8vw;

      .ima{
        width: 11.5vw;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: #d9d9d9;
      }
      .nom_aju{
        width: 15.5vw;
        height: 6.7vw;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;

        .ajustes{
          width: 8vw;
          height: 36%;
          background-color:  #898989;

        }
        .nom{
          width: 100%;
          height: 53%;
          background-color:  #898989;
        }
      }
    }
    .arriba_d{
      width: 20.6vw;
      height: 5.1vw;
      display: flex;
      align-items: center;
      gap: .7vw;

      .stat{
        height: 100%;
        width: 4.375vw;
        background-color: #d9d9d9;
      }
    }
  }
  .medio{
    width: 100%;
    height: 33vw;
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 6.4vw;

    .medio_i{
      width: 48.5vw;
      height: 100%;
      margin-left: 6.3vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .favs{
        width: 100%;
        height: 45.8%;
        background-color: #d9d9d9;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5vh;

        .ti{
          margin-top: 1.6vh;
          width: 14rem;
          height: 2.625rem;
          background-color: #FAFAFA;
        }
        .libs{
          width: 43.6vw;
          height: 20.5vh;
          display: flex;
          gap: 1.77vw;

          .lib{
            width: 7.3vw;
            height: 100%;
            background-color: #FAFAFA;
          }
        }
      }
      
      .le{
        width: 100%;
        height: 51%;
        background-color: #d9d9d9;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4vh;

        .t{
          margin-top: 3.7vh;
          width: 14.125rem;
          height: 2.5625rem;
          background-color: #FAFAFA;
        }

        .aba{
          width: 44.2vw;
          height: 21.5vh;
          display: flex;
          align-items: center;
          gap: 2.7vw;

          .lele{
            width: 31.6vw;
            height: 100%;
            display: flex;

            .libr{
              width: 7.3vw;
              height: 100%;
              background-color: #FAFAFA;
              box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.3);
            }
            .uno{
              z-index: 6;
            }
            .dos{
              z-index: 5;
              margin-right: -2.3vw;
            }
            .tres{
              z-index: 4;
              margin-right: -2.3vw;
            }
            .cuatro{
              z-index: 3;
              margin-right: -2.3vw;
            }
            .cinco{
              z-index: 2;
              margin-right: -2.3vw;
            }
            .seis{
              z-index: 1;
              margin-right: -2.3vw;
            }
          }
          
          .verm{
            width: 11.9375rem;
            height: 2.8125rem;
            background-color: #FAFAFA;
          }
        }
      }
    }

    .medio_d{
      width: 31.5vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .pl{
        width: 100%;
        height: 33%;
        background-color: #d9d9d9;
        display: flex;
        flex-direction: column;
        gap: 1.4vh;


        .titl{
          width: 9.375rem;
          height: 1.875rem;
          background-color: #FAFAFA;
          margin-top: 1.8vh;
          margin-left: 1.7vw;
        }
        .abaj{
          margin-left: 1.7vw;
          width: 28.4vw;
          height: 6.5vw;
          display: flex;
          align-items: center;
          gap: 2vw;

          .plpl{
            height: 100%;
            width: 20vw;
            display: flex;
            
            .book{
              width: 4.8vw;
              height: 100%;
              background-color: #FAFAFA;
              box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.3);
            }
            .one{
              z-index: 6;
            }
            .two{
              z-index: 5;
              margin-right: -1.5vw;
            }
            .three{
              z-index: 4;
              margin-right: -1.5vw;
            }
            .four{
              z-index: 3;
              margin-right: -1.5vw;
            }
            .five{
              z-index: 2;
              margin-right: -1.5vw;
            }
            .six{
              z-index: 1;
              margin-right: -1.5vw;
            }
          
          }
          .vermp{
            width: 7.6875rem;
            height: 1.75rem;
            background-color: #FAFAFA;
          }
        }
      }
      .listas{
        width: 100%;
        height: 64%;
        background-color: #d9d9d9;
        display: flex;
        flex-direction: column;
        gap: 2.4vh;

        .titulo{
          margin-top: 1.7vh;
          margin-left: 1.5vw;
          width: 9.375rem;
          height: 1.875rem;
          background-color: #FAFAFA;
        }
        .lime{
          width: 26.8vw;
          height: 27.5vh;
          margin-left: 1.5vw;
          display: grid;
          grid-template-columns: repeat(2, max-content);
          grid-template-rows: repeat(2, max-content);
          gap: 2.7vh 3.5vw;

          .cali{
            width: 12vw;
            height: 5.6vw;;
            display: flex;
            flex-direction: column;
            gap: 0.44vh;
            
            .minilista{
              width: 100%;
              height: 8vh;
              display: flex;
              
              .librito{
                width: 2.7vw;
                height: 100%;
                background-color: #FAFAFA;
                box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.3);
              }
              .uno{
                z-index: 6;
              }
              .dos{
                z-index: 5;
                margin-right: -0.8;
              }
              .tres{
                z-index: 4;
                margin-right: -0.8;
              }
              .cuatro{
                z-index: 3;
                margin-right: -0.8;
              }
              .cinco{
                z-index: 2;
                margin-right: -0.8;
              }
              .seis{
                z-index: 1;
                margin-right: -0.8;
              }
            }
            .textito{
              width: 100%;
              height: 3.5vh;
              background-color: #FAFAFA;
            }
          }
        }

      }
    }
  }