*{
    margin: 0px;
    padding: 0;
    box-sizing: 0;
}
body{
  background-color: #F1EEE7;
}
  .arriba{
    width: 100%;
    height: 28vh;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .popu{
        width: 26.6875rem;
        height: 5.125rem;
        color: #000;
        font-family: Lora;
        font-size: 3.1vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }
  }
  .populares{
    width: 100%;
    height: 21.67vw;
    display: flex;
    justify-content: center;

    .flecha{
    border: none;
    background: none;
    font-size: 4vw;
    color: #666;
    font-weight: bold;
    cursor: pointer;
    margin-left: 1vw;

  }
  .izquierda{
    margin-right: 1vw;
  }
  
  
    .imagenes {
      width: 81vw;
      height: 100%;
      overflow: hidden;
    }
  
    #imagenes {
      display: flex;
      gap: 2.4vw;
      transition: transform 0.4s ease;
    }
  
    .ima {
      flex-shrink: 0;
      width: 11.5vw ;
      height: 21.67vw ;
      display: flex;
      flex-direction: column;
      justify-content: space-between;


      .title{
        width: 100%;
        height: 5.5%;
        color: #000;
        text-align: center;
        font-family: Lora;
        font-size: 1.56vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .imag{
        width: 100%;
        height: 75%;
      }
      .estrellas{
        background-color: #d9d9d9;
        width: 100%;
        height: 10.4%;
      }
    }
  }
  .mas{
    width: 100%;
    height: 12.7vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .li{
        background-color: #d9d9d9;
        width: 21.4375rem;
        height: 4.3125rem;
    }
  }
  .abajo{
    width: 100%;
    height: 19.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
  
  
    .imagene {
      width: 81.6vw;
      height: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
    }
  
    #imagene {
      height: 100%;
      display: flex;
      gap: 2.4vw;
    }
  
    .libros {
      flex-shrink: 0;
      width: 11.56vw ;
      height: 100% ;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .titl{
        background-color: #d9d9d9;
        width: 100%;
        height: 6%;
      }
      .ima{
        background-color: #d9d9d9;
        width: 100%;
        height: 80%;
      }
      .like{
        background-color: #d9d9d9;
        width: 100%;
        height: 4.2%;
      }
    }
  
    .k {
      background-color: aqua;
    }
  
    .l {
      background-color: brown;
    }
  
    .m {
      background-color: blue;
    }
  
    .n {
      background-color: aquamarine;
    }
  
    .o {
      background-color: cadetblue;
    }
  
    .p {
      background-color: chocolate;
    }
  
    .q {
      background-color: chartreuse;
    }
  
    .r {
      background-color: burlywood;
    }
  
    .s {
      background-color: blueviolet;
    }
  
    .t {
      background-color: black;
    }
  }