

.mi-barra {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #1e1e24;
    color: #ffffff;
    opacity: 0.8;
  
   
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 30px; 
  
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
  }
  .nombre {
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  
  .menu {
    display: flex;
    gap: 68.55px; 
    font-size: 30px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
  }

  .logo {
    width: 40px;
    height: 40px;
    position: relative;
    background-color: #d9d9d9;
  }
  .logo_perfil {
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .buscador {
      border-radius: 21000px;
      border-style: solid;
      border-color: white;
    }
    
    .barra {
        position: relative;
        display: inline-block;
    }
    .input-container { 
        position: relative;
        display: inline-block;
        width: 318px; 
        padding-right: 150px;

}
  
  .input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;  
    height: 20px;
    pointer-events: none; 
  }
  
  
  .input-container input {
    width: 100%;
    padding: 10px 12px;
    padding-left: 40px; 
    box-sizing: border-box;
  }
  /* YTSMA-Hasta aca es el header. */

  .img_nomb_aju{
    display: flex;
    margin-top: 124px;
    margin-left: 122px;
  }
  
  .logo_perfil_grande{
    width: 220px;
    height: 220px;
    display: flex;
  }
  .nombre_usu {
    margin-top: 88px;
    margin-left: 35px;
    background-color: grey;
    width: 298px;
    height: 69px;
    text-align: center;
    
  }
  .USU2{
   margin-top: 25px;
  }
  .ajuste_nombre{
    margin-left: -298px;
    margin-top: 27px;
    width: 155px;
    height: 47px;
  }
  .fav_paraleer{
    margin-top: 47px;
    margin-left: 118px;
  }
  .favs{
    background-color:#D9D9D9;
    width: 932px;
    height: 292px;
  }

