

.mi-barra {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #1e1e24;
    color: #ffffff;
    opacity: 0.8;
  
   
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 30px; 
  
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
  }
  .nombre {
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  
  .menu {
    display: flex;
    gap: 68.55px; 
    font-size: 30px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
  }

  .logo {
    width: 40px;
    height: 40px;
    position: relative;
    background-color: #d9d9d9;
  }
  .logo_perfil {
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .buscador {
      border-radius: 21000px;
      border-style: solid;
      border-color: white;
    }
    
    .barra {
        position: relative;
        display: inline-block;
    }
    .input-container { 
        position: relative;
        display: inline-block;
        width: 318px; 
        padding-right: 150px;

}
  
  .input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;  
    height: 20px;
    pointer-events: none; 
  }
  
  
  .input-container input {
    width: 100%;
    padding: 10px 12px;
    padding-left: 40px; 
    box-sizing: border-box;
  }
  /* YTSMA-Hasta aca es el header. */

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body{
  height: 100vh;
}

.arriba_perfil{
  background-color: rgb(235, 233, 233);
  width: 100%;
  height: 31%;
  top: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .arriba_perfil_izq{
    width: 29%;
    height: 100%;
    display: flex;
    
    align-items: center;
    justify-content: center;



    .logo_grande{
      height: 66%;
      aspect-ratio: 1/1;
    }
  
    .costado_logo{
      height: 40%;
      aspect-ratio: 14/6 ;
      margin-left: 1.14%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: end;
      margin-bottom: 6.5%;
      
      
  
      .nombre_logo{
        order: 2;
        background-color: rgb(85, 85, 85);
        height: 50%;
        width: 100%;
      }
      .ajustes_logo{
        order: 1;
        height: 50%;
        width: 100%;
  
        .ajustes_logo_mini{
          background-color: rgb(85, 85, 85);
          width: 50%;
          height: 75%;
  
        }
      
        
      }
  
   
    }
  }
  .arriba_perfil_der{
    width: 19.57%;
    height: 100%;
    display: flex;
    align-items: center;

    .todo_stats{
      background-color: black;
      height: 31%;
      width: 100%;
      display: flex;
      display: inline-block;

      .stat_libro{
        background-color: rgb(255, 0, 0);
        height: 100%;
        width: 22.22%;
      }
      stat_seguidor{
        background-color: rgb(255, 0, 0);
        height: 100%;
        width: 22.22%;
      }
    }
  }



}

