*{
  margin: 0px;
  padding: 0;
  box-sizing: 0;
}
/*SOY YTSMA, HASTA ACÁ ES EL HEADER (SEPARO PORUQE SINO ES UN LIO)*/

.arriba{
  width: 100%;
  height: 9.4vw;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  .title{
    background-color: #D9D9D9;
    width: 15.15vw;
    height: 30.3%;
  }
}
.tendencias{
  width: 100%;
  height: 14.7vw;
  display: flex;
  justify-content: center;


  .imagenes {
    width: 69vw;
    height: 100%;
    overflow: hidden;
  }

  #imagenes {
    display: flex;
    gap: 1.5vw;
  }

  .ima {
    flex-shrink: 0;
    width: 11vw ;
    height: 14.7vw ;
  }

  .a {
    background-color: aqua;
  }

  .b {
    background-color: brown;
  }

  .c {
    background-color: blue;
  }

  .d {
    background-color: aquamarine;
  }

  .e {
    background-color: cadetblue;
  }

  .f {
    background-color: chocolate;
  }

  .g {
    background-color: chartreuse;
  }

  .h {
    background-color: burlywood;
  }

  .i {
    background-color: blueviolet;
  }

  .j {
    background-color: black;
  }
}
.abajo{

  .nom_rele{
    width: 100%;
    height: 13vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .titles{
      background-color: #D9D9D9;
      height: 29.6%;
      width: 23.4vw;
    }
  }
  .reco_le{
    width: 100%;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .recomendaciones{
      height: 100%;
      width: 35vw;
      display: flex;
      align-items: center;

      .libro{
        background-color: #D9D9D9;
        height: 11vw;
        width: 9vw;
        box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.3);
      }
      .uno{
        z-index: 5;
      }
      .dos{
        z-index: 4;
        margin-left: -2.8vw;
      }
      .tres{
        z-index: 3;
        margin-left: -2.8vw;
      }
      .cuatro{
        z-index: 2;
        margin-left: -2.8vw;
      }
      .cinco{
        z-index: 1;
        margin-left: -2.8vw;
      }
    }
    .leidos{
      width: 39vw;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    
    
      .imagene {
        width: 39vw;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
      }
    
      #imagene {
        display: flex;
        gap: 1.2vw;
      }
    
      .libros {
        flex-shrink: 0;
        width: 9vw ;
        height: 11vw ;
      }
    
      .k {
        background-color: aqua;
      }
    
      .l {
        background-color: brown;
      }
    
      .m {
        background-color: blue;
      }
    
      .n {
        background-color: aquamarine;
      }
    
      .o {
        background-color: cadetblue;
      }
    
      .p {
        background-color: chocolate;
      }
    
      .q {
        background-color: chartreuse;
      }
    
      .r {
        background-color: burlywood;
      }
    
      .s {
        background-color: blueviolet;
      }
    
      .t {
        background-color: black;
      }
    }
    

    
  }

  
}