*{
  margin: 0px;
  padding: 0;
  box-sizing: 0;
}

/* fonts */
.lora-font {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.barra {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #842739;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px; /* padding de nombre de app */

  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1000;
  
  .logo {
    width: 40px;
    height: 40px;
    position: relative;
  }
  .nombre { /* estilo del "babel" */
      font-size: 2.5rem;
      font-weight: 400;
  }
  .buscador-container { /*esto es para el padding y etc*/
    position: relative;
    display: inline-block;
    width: 23%;
    height: 39px;

  @media (width<1500px) {
      padding-right: 0%;
    }
    
    .buscador {
      border-radius: 21000px;
      border-style: solid;
      border-color: white;
      height: 39px;
    }
    input { /*estilos para el placeholder e input del buscador*/
        width: 100%;
        padding: 10px 12px;
        padding-left: 40px;
        box-sizing: border-box;
    }
    .lupita {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      pointer-events: none; /* Permite hacer clic a través de la imagen hacia el input */
    }
  }

  .barralinks {
    width: 70vw;
    display: flex;
    
    .menu {
      position: relative;
      width: 40%;
      display: flex;
      flex-direction: row;
      gap: 3vw;
      font-size: 30px;
      padding-right: clamp(20px, 5%, 50px);
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        border-radius: 8px;
        background: #FFF;
        border-style: solid;
        border-color: #FFF;
        
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 8vw;
          gap: 5px;
          height: 40px;
          color: #000000;
          text-decoration: none;
          text-wrap: nowrap;
          font-size: 20px;

          img {
            height: 90%;
            aspect-ratio: 1/1;
          }
        }
      }
    }

    .botonperfil {
      position: absolute;
      right: 5vw;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30vh;
      height: 40px;
      border-radius: 8px;
      background-color:transparent;
      border-style: none;
      border-color: #FFF;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        height: 40px;
        color: white;
        text-decoration: none;
        text-wrap: nowrap;
        font-size: 20px;

        img {
          height: 90%;
          aspect-ratio: 1/1;
        }
      }
    }
  }
}

.signup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, .5);
  z-index: 10000;
  
  /* transition */
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.signup.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.signup .signup1 {
  z-index: 100000;
  display: flex;
  flex-direction: column;
  height: 40%;
  aspect-ratio: 1/2;
  background-color: cyan;
  justify-content: space-between;
  
  .boton {
      width: 65%;
      height: 5%;
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
          aspect-ratio: 1/1;
          height: 65%;
      }
  }
}


.signin {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, .5);
  z-index: 10000;
  
  /* transition */
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.signin.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.signin .signin1 {
  z-index: 100000;
  display: flex;
  flex-direction: column;
  height: 40%;
  aspect-ratio: 1/2;
  background-color: cyan;
  justify-content: space-between;
  
  

}
.boton {
    width: 65%;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

/*SOY YTSMA, HASTA ACÁ ES EL HEADER (SEPARO PORUQE SINO ES UN LIO)*/

.arriba{
  width: 100%;
  height: 9.4vw;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  .title{
    background-color: #D9D9D9;
    width: 15.15vw;
    height: 30.3%;
  }
}
.tendencias{
  width: 100%;
  height: 14.7vw;
  display: flex;
  justify-content: center;


  .imagenes {
    width: 69vw;
    height: 100%;
    overflow: hidden;
  }

  #imagenes {
    display: flex;
    gap: 1.5vw;
  }

  .ima {
    flex-shrink: 0;
    width: 11vw ;
    height: 14.7vw ;
  }

  .a {
    background-color: aqua;
  }

  .b {
    background-color: brown;
  }

  .c {
    background-color: blue;
  }

  .d {
    background-color: aquamarine;
  }

  .e {
    background-color: cadetblue;
  }

  .f {
    background-color: chocolate;
  }

  .g {
    background-color: chartreuse;
  }

  .h {
    background-color: burlywood;
  }

  .i {
    background-color: blueviolet;
  }

  .j {
    background-color: black;
  }
}
.abajo{

  .nom_rele{
    width: 100%;
    height: 13vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .titles{
      background-color: #D9D9D9;
      height: 29.6%;
      width: 23.4vw;
    }
  }
  .reco_le{
    width: 100%;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .recomendaciones{
      height: 100%;
      width: 35vw;
      display: flex;
      align-items: center;

      .libro{
        background-color: #D9D9D9;
        height: 11vw;
        width: 9vw;
        box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.3);
      }
      .uno{
        z-index: 5;
      }
      .dos{
        z-index: 4;
        margin-left: -2.8vw;
      }
      .tres{
        z-index: 3;
        margin-left: -2.8vw;
      }
      .cuatro{
        z-index: 2;
        margin-left: -2.8vw;
      }
      .cinco{
        z-index: 1;
        margin-left: -2.8vw;
      }
    }
    .leidos{
      width: 39vw;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    
    
      .imagene {
        width: 39vw;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
      }
    
      #imagene {
        display: flex;
        gap: 1.2vw;
      }
    
      .libros {
        flex-shrink: 0;
        width: 9vw ;
        height: 11vw ;
      }
    
      .k {
        background-color: aqua;
      }
    
      .l {
        background-color: brown;
      }
    
      .m {
        background-color: blue;
      }
    
      .n {
        background-color: aquamarine;
      }
    
      .o {
        background-color: cadetblue;
      }
    
      .p {
        background-color: chocolate;
      }
    
      .q {
        background-color: chartreuse;
      }
    
      .r {
        background-color: burlywood;
      }
    
      .s {
        background-color: blueviolet;
      }
    
      .t {
        background-color: black;
      }
    }
    

    
  }

  
}