*{
    margin: 0px;
    padding: 0;
    box-sizing: 0;
}

.mi-barra {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #1e1e24;
    color: #ffffff;
    opacity: 0.8;
  
   
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 30px; 
  
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
  }
  .nombre {
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  
  .menu {
    display: flex;
    gap: 68.55px; 
    font-size: 30px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
  }

  .logo {
    width: 40px;
    height: 40px;
    position: relati ;
    background-color: #d9d9d9;
  }
  .logo_perfil {
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .buscador {
      border-radius: 21000px;
      border-style: solid;
      border-color: white;
    }
    
    .barra {
        position: relative;
        display: inline-block;
    }
    .input-container { 
        position: relative;
        display: inline-block;
        width: 318px; 
        padding-right: 150px;

}
  
  .input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;  
    height: 20px;
    pointer-events: none; 
  }
  
  
  .input-container input {
    width: 100%;
    padding: 10px 12px;
    padding-left: 40px; 
    box-sizing: border-box;
  }

  /*Ytsma dice que hasta aca es el header*/

.todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    .arriba{
        width: 100%;
        height: 22.1vh;
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 21.25vw;
    
        .title{
            order: 2;
            background-color: #646464;
            width: 24vw;
            height: 6vh;
            
        }
        .crear{
            display: block;
            order: 1;
            background-color: #646464;
            width: 9.5vh;
            height: 9.5vh;
            border-radius: 50%;
            margin-left: 13.1vw;
        }
    
    
      }
      .medio{
        width: 87vw;
        height: 61.66vh;
        display: grid;
        grid-template-columns: repeat(2,  1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0 9.6vw;
        
        .listas{
            width: 38.7vw;
            height: 17.18vw;
            border-bottom: 3px solid #646464;
            border-top: 3px solid #646464;

            .arriba_lista{
                background-color: rgb(206, 206, 206);
                width: 38.7vw;
                height: 11vh;
                display: flex;
                align-items: center;
                justify-content: space-around;

                .al_1{
                    background-color: #646464;
                    width: 32%;
                    height: 46.6%;
                }
                .al_2{
                    background-color: #646464;
                    width: 30.4%;
                    height: 26%;
                }
            }
            .abajo_lista{
                background-color: rgb(206, 206, 206);
                width: 100%;
                height: 23.8vh;
            }
        }
      }
}